<%= link_to 'Home', root_path %> | <%= link_to 'Goodbye', goodbye_path %>
<hr>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<hr>
<h2><%= @greeting %></h2>
<h6><%= @always_there %></h6>
